[project]
	description = this project is for many kinds odf encryption
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Flying-Einstein
[access "refs/for/refs/*"]
	read = group user/Flying-Einstein
	push = group user/Flying-Einstein
	label-Code-Review = -2..+2 group user/Flying-Einstein
	label-Verified = -1..+1 group user/Flying-Einstein
	rebase = group user/Flying-Einstein
	removeReviewer = group user/Flying-Einstein
	submit = group user/Flying-Einstein
[access "refs/heads/*"]
	read = group user/Flying-Einstein
	create = group user/Flying-Einstein
	push = +force group user/Flying-Einstein
	pushMerge = group user/Flying-Einstein
[access "refs/tags/*"]
	push = +force group user/Flying-Einstein
	pushTag = group user/Flying-Einstein
	pushSignedTag = group user/Flying-Einstein
